* {
    box-sizing: border-box;
}

body{
    background-color: #23252C; 
    font-family: Inter, sans-serif;
}

header{
    text-align: center;
    padding-top: 2em
}

.name{
    margin-top: 30px;
    font-size: 30px;
}

.job-title{
    color: #F3BF99;
    margin-top: -10px;
    font-size: 15px;
}

.website{
    color: #F5F5F5;
    font-size: 11px;
    margin-bottom: 20px;
}

.email-button, .linkedin-button{
    width: 115px;
    border-radius: 5px;
     padding: 8px;
     margin: 8px;
     font-size: 15px;
}



.linkedin-button{
    background-color: #5093E2;
    color: #FFFF;
}

.linkedin-button:hover{
    border: 2px solid white;
    background-color: navy;
    transform: scale(1.1)
}

.email-button:hover{
    transform: scale(1.1);
    border: 2px solid navy;
}



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A1B21;
    width: 317px;
    margin: auto;
    
}

.headshot{
    width: 317px;
    height: 317px;
    border-radius: 10px;
    border: 1.5px solid gray;
}


section{
    padding: 2.3em
}


h1, h3{
    color: #FFFF;
    font-size: 20px;
}

h3{
    margin-bottom: 0; 
}

.written-info{
    color: #DCDCDC;
    margin-top: 8px;
    line-height: 1.5em;
    font-size: 13px;
}

.interests{
    margin-top: -70px
}

.footer{
    background-color: #161619;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 64px;
}

.fa-linkedin{
    color: #FFFF
}

.fa-linkedin, .fa-envelope{
    margin-right: 12px;
    font-size: 14px;
    
}

.fa-square-github, .fa-square-twitter, .fa-square-facebook, .fa-instagram{
    width: 40px;
    margin: auto 5px;
    color: #918E9B;
    font-size: 30px;

}













